.auth-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 120vh;
}

.auth-image {
  position: absolute;
  right: 0;
  height: 100%;
  max-width: 860px;
}

.auth-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-form-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.auth-form {
  z-index: 10;
}

.login-form {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  background: white;
  border-radius: 16px;
  max-width: 740px;
  padding: 3rem;
  margin-right: -120px;
}

.login-form label,
.register-form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.auth-form h1 {
  color: white;
}

@media (min-width: 998px) {
  .auth-form h1 {
    color: $dark;
  }
}
