.auth-page {
  height: 140vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.auth-form {
  z-index: 100;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  max-width: 740px;
  margin: 50px auto;
}

.auth-text {
  font-size: 20px;
}

.auth-form form label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.auth-form form input {
  height: 44px;
}

.form-check-input {
  height: 1.3em !important;
  width: 1.3em !important;
}

.form-check-input:checked {
  background-color: $secondary !important;
  border-color: $secondary !important;
}
