.dashboard-banner {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 110vh;
}

.profile-card {
  width: 90%;
  max-width: 650px;
  margin: 10px auto 0;
  z-index: 10;
}

.profile-avatar {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.profile-label {
  font-size: 18px;
}

.box-shadow {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.btn-create {
  height: 44px;
  width: 180px;
}

.btn-bookings {
  border: none;
  background-color: transparent;
  text-decoration: underline;
  padding-left: 0;
}

.venue-img {
  width: 100%;
  height: 230px;
}

@media (min-width: 768px) {
  .profile-card {
    width: 100%;
  }

  .dashboard-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .venue-img {
    width: 180px;
    height: 120px;
  }

  .btn-container {
    width: 25%;
    height: 44px;
  }
}
