.dashboard-banner {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.profile-card {
  width: 90%;
  max-width: 650px;
  margin: 10px auto 0;
  z-index: 10;
}

.profile-avatar {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.dashboard-content {
  width: 100%;
}

.dashboard-content .tabs .btn {
  flex: 1;
}

.profile-label {
  font-size: 18px;
}

.box-shadow {
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.btn-tab {
  background-color: $light;
  border: none;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

@media (min-width: 768px) {
  .profile-card {
    width: 100%;
  }

  .dashboard-content {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
