.hero {
  height: 110vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
}

.hero-content {
  z-index: 2;
}

.hero-text {
  font-family: 'Inter';
}

.hero-form {
  width: 75%;
  max-width: 1100px;
}

.hero-form input,
.hero-form button {
  height: 44px;
}

.destinations-scroll::-webkit-scrollbar {
  display: none;
}

.destination-item {
  width: 270px;
}

.destination-img {
  width: 270px;
  height: 270px;
  object-fit: cover;
  border-radius: 50%;
}

.highest-rated {
  margin: 5rem 0 3rem;
  position: relative;
}

.rated-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.rated-scroll > * {
  flex: 0 0 auto;
}

.rated-scroll {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 2rem 3rem;
  height: 100%;
}

.rated-scroll::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  border: none;
  background-color: transparent;
  width: 45px;
  height: 45px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.scroll-btn img {
  width: 45px;
}

.scroll-btn.left {
  left: 0;
  transform: translateX(20%) scaleX(-1);
}

.scroll-btn.right {
  right: 0;
  transform: translateX(-20%);
}

.title-line {
  width: 120px;
  border-top: 1px solid #ccc;
  opacity: 1;
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.home-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.overlay-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.info-box {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.info-box p {
  background: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  max-width: 85%;
  margin: 0;
}

@media (max-width: 768px) {
  .scroll-btn {
    display: none;
  }
}

@media (max-width: 991px) {
  .image-wrapper img,
  .home-overlay {
    height: 250px;
  }

  .info-box {
    position: static;
    padding: 0;
  }

  .info-box p {
    max-width: 100%;
  }
}
