.hero {
  height: 110vh;
  background-image: url('/src/assets/images/home/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.44);
}

.hero-content {
  z-index: 2;
}

.hero-text {
  font-family: 'Inter';
}

.hero-form {
  width: 75%;
  max-width: 1100px;
}

.hero-form input,
.hero-form button {
  height: 44px;
}
