.modal-backdrop.show {
  opacity: 0.5;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}

.calendar {
  width: fit-content;
  margin: 0 auto;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
}

input[type='radio'] {
  accent-color: $secondary;
}
