.modal-backdrop.show {
  opacity: 0.5;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1040;
}

.calendar {
  width: fit-content;
  margin: 0 auto;
}

.form-label {
  font-size: 18px;
  font-weight: 500;
}

input[type='radio'] {
  accent-color: $secondary;
}

.delete-trash {
  background-color: #ebbaba;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-trash-can {
  color: $danger;
  font-size: 20px;
}

.manager-bookings-modal {
  max-width: 1000px;
  width: 80%;
}
