@import './bootstrap';
@import './components/buttons';
@import './pages/auth';
@import './pages/dashboards';
@import './pages/home';
@import './pages/modals';
@import './pages/venues';

body {
  background-color: $light;
  color: $dark;
}

.navbar {
  z-index: 10;
}

.navbar-brand img {
  height: 52px;
}

.nav-login-btn {
  width: 127px;
}

.nav-link:hover {
  border-bottom: solid white 1px;
  border-top: solid white 1px;
}

.nav-link-other:hover {
  border-bottom: solid $primary 1px;
  border-top: solid $primary 1px;
}

.navbar-other {
  width: 98%;
  margin: 13px 0;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  width: 98%;
  margin: 0 auto 13px;
  border-radius: 16px;
}

.footer-text {
  max-width: 300px;
}
