@import './bootstrap';
@import './components/bookings.scss';
@import './components/buttons';
@import './pages/auth';
@import './pages/dashboards';
@import './pages/home';
@import './pages/modals';
@import './pages/venues';

body {
  background-color: $light;
  color: $dark;
  max-width: 2000px;
}

.navbar {
  z-index: 10;
}

.navbar-brand img {
  height: 52px;
}

.nav-btn {
  width: 127px;
}

.nav-link:hover {
  border-bottom: solid white 1px;
  border-top: solid white 1px;
}

.nav-link-other:hover {
  border-bottom: solid $primary 1px;
  border-top: solid $primary 1px;
}

.navbar-other {
  width: 98%;
  margin: 13px 0;
  border-radius: 16px;
  left: 50%;
  transform: translateX(-50%);
}

footer {
  width: 98%;
  margin: 0 auto 13px;
  border-radius: 16px;
}

.footer-text {
  max-width: 300px;
}

input:focus {
  border: solid 2px;
}

.form-control.is-invalid {
  border-color: $danger;
  background-color: #ebbaba;
  margin-bottom: 5px !important;
}

.invalid-feedback {
  margin-top: 0;
  font-size: 16px;
  color: $danger;
  margin-bottom: 13px;
}
